<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.py.test.dao.TcustomerMapper" >
  <resultMap id="BaseResultMap" type="com.py.test.entity.Tcustomer" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CustomerCode" property="customercode" jdbcType="VARCHAR" />
    <result column="CustUserName" property="custusername" jdbcType="VARCHAR" />
    <result column="CustPassword" property="custpassword" jdbcType="VARCHAR" />
    <result column="CusName" property="cusname" jdbcType="VARCHAR" />
    <result column="CusCall" property="cuscall" jdbcType="VARCHAR" />
    <result column="Mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="MobileTwo" property="mobiletwo" jdbcType="VARCHAR" />
    <result column="StateID" property="stateid" jdbcType="BIGINT" />
    <result column="State" property="state" jdbcType="VARCHAR" />
    <result column="OrgName" property="orgname" jdbcType="VARCHAR" />
    <result column="OrgID_fk" property="orgidFk" jdbcType="BIGINT" />
    <result column="Stores" property="stores" jdbcType="VARCHAR" />
    <result column="StoresID" property="storesid" jdbcType="BIGINT" />
    <result column="MobileSalesID" property="mobilesalesid" jdbcType="BIGINT" />
    <result column="MobileSales" property="mobilesales" jdbcType="VARCHAR" />
    <result column="CustSalesID" property="custsalesid" jdbcType="BIGINT" />
    <result column="CustSales" property="custsales" jdbcType="VARCHAR" />
    <result column="DesignerID" property="designerid" jdbcType="BIGINT" />
    <result column="Designer" property="designer" jdbcType="VARCHAR" />
    <result column="Village" property="village" jdbcType="VARCHAR" />
    <result column="IsVerify" property="isverify" jdbcType="BIT" />
    <result column="RegistrationTime" property="registrationtime" jdbcType="TIMESTAMP" />
    <result column="SourceID" property="sourceid" jdbcType="BIGINT" />
    <result column="Source" property="source" jdbcType="VARCHAR" />
    <result column="ScaleDate" property="scaledate" jdbcType="TIMESTAMP" />
    <result column="ScaleTime" property="scaletime" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createuser" jdbcType="VARCHAR" />
    <result column="CreateUserID" property="createuserid" jdbcType="BIGINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="LastUser" property="lastuser" jdbcType="VARCHAR" />
    <result column="LastUserID" property="lastuserid" jdbcType="BIGINT" />
    <result column="LastTime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="RoomModel" property="roommodel" jdbcType="VARCHAR" />
    <result column="Area" property="area" jdbcType="DECIMAL" />
    <result column="CityName" property="cityname" jdbcType="VARCHAR" />
    <result column="Picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CustomerCode, CustUserName, CustPassword, CusName, CusCall, Mobile, MobileTwo,
    StateID, State, OrgName, OrgID_fk, Stores, StoresID, MobileSalesID, MobileSales,
    CustSalesID, CustSales, DesignerID, Designer, Village, IsVerify, RegistrationTime,
    SourceID, Source, ScaleDate, ScaleTime, CreateUser, CreateUserID, CreateTime, LastUser,
    LastUserID, LastTime, RoomModel, Area, CityName, Picture
  </sql>

</mapper>