<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.py.test.dao.TuserMapper" >
  <resultMap id="BaseResultMap" type="com.py.test.entity.Tuser" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="jobs_id_fk" property="jobsIdFk" jdbcType="BIGINT" />
    <result column="flower_name" property="flowerName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="UserPassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="UserLevel" property="userlevel" jdbcType="VARCHAR" />
    <result column="entry_date" property="entryDate" jdbcType="TIMESTAMP" />
    <result column="Id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="national" property="national" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="Political_land" property="politicalLand" jdbcType="VARCHAR" />
    <result column="Emer_contact" property="emerContact" jdbcType="VARCHAR" />
    <result column="Emer_phone" property="emerPhone" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="Departure_date" property="departureDate" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="gen_time" property="genTime" jdbcType="TIMESTAMP" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="IsActive" property="isactive" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, jobs_id_fk, flower_name, login_name, UserPassword, username, mobile, email, UserLevel, 
    entry_date, Id_number, gender, birthday, address, national, school, education, Political_land, 
    Emer_contact, Emer_phone, hobby, Departure_date, note, gen_time, login_time, last_login_time, 
    count, IsActive
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TUser
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from TUser
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.py.test.entity.Tuser" >
    insert into TUser (ID, jobs_id_fk, flower_name, 
      login_name, UserPassword, username, 
      mobile, email, UserLevel, 
      entry_date, Id_number, gender, 
      birthday, address, national, 
      school, education, Political_land, 
      Emer_contact, Emer_phone, hobby, 
      Departure_date, note, gen_time, 
      login_time, last_login_time, count, 
      IsActive)
    values (#{id,jdbcType=BIGINT}, #{jobsIdFk,jdbcType=BIGINT}, #{flowerName,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{userlevel,jdbcType=VARCHAR}, 
      #{entryDate,jdbcType=TIMESTAMP}, #{idNumber,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, #{national,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{politicalLand,jdbcType=VARCHAR}, 
      #{emerContact,jdbcType=VARCHAR}, #{emerPhone,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{departureDate,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, #{genTime,jdbcType=TIMESTAMP}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{count,jdbcType=BIGINT}, 
      #{isactive,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.py.test.entity.Tuser" >
    insert into TUser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="jobsIdFk != null" >
        jobs_id_fk,
      </if>
      <if test="flowerName != null" >
        flower_name,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="userpassword != null" >
        UserPassword,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userlevel != null" >
        UserLevel,
      </if>
      <if test="entryDate != null" >
        entry_date,
      </if>
      <if test="idNumber != null" >
        Id_number,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="national != null" >
        national,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="politicalLand != null" >
        Political_land,
      </if>
      <if test="emerContact != null" >
        Emer_contact,
      </if>
      <if test="emerPhone != null" >
        Emer_phone,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="departureDate != null" >
        Departure_date,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="genTime != null" >
        gen_time,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="isactive != null" >
        IsActive,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jobsIdFk != null" >
        #{jobsIdFk,jdbcType=BIGINT},
      </if>
      <if test="flowerName != null" >
        #{flowerName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userlevel != null" >
        #{userlevel,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null" >
        #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="national != null" >
        #{national,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="politicalLand != null" >
        #{politicalLand,jdbcType=VARCHAR},
      </if>
      <if test="emerContact != null" >
        #{emerContact,jdbcType=VARCHAR},
      </if>
      <if test="emerPhone != null" >
        #{emerPhone,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null" >
        #{departureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="genTime != null" >
        #{genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.py.test.entity.Tuser" >
    update TUser
    <set >
      <if test="jobsIdFk != null" >
        jobs_id_fk = #{jobsIdFk,jdbcType=BIGINT},
      </if>
      <if test="flowerName != null" >
        flower_name = #{flowerName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        UserPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userlevel != null" >
        UserLevel = #{userlevel,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null" >
        entry_date = #{entryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="idNumber != null" >
        Id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="national != null" >
        national = #{national,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="politicalLand != null" >
        Political_land = #{politicalLand,jdbcType=VARCHAR},
      </if>
      <if test="emerContact != null" >
        Emer_contact = #{emerContact,jdbcType=VARCHAR},
      </if>
      <if test="emerPhone != null" >
        Emer_phone = #{emerPhone,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="departureDate != null" >
        Departure_date = #{departureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="genTime != null" >
        gen_time = #{genTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="isactive != null" >
        IsActive = #{isactive,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.py.test.entity.Tuser" >
    update TUser
    set jobs_id_fk = #{jobsIdFk,jdbcType=BIGINT},
      flower_name = #{flowerName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      UserPassword = #{userpassword,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      UserLevel = #{userlevel,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      Id_number = #{idNumber,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      national = #{national,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      Political_land = #{politicalLand,jdbcType=VARCHAR},
      Emer_contact = #{emerContact,jdbcType=VARCHAR},
      Emer_phone = #{emerPhone,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      Departure_date = #{departureDate,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      gen_time = #{genTime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=BIGINT},
      IsActive = #{isactive,jdbcType=BIT}
    where ID = #{id,jdbcType=BIGINT}
  </update>


</mapper>